@value grey, white, txtXL, txtMedium, defaultPadding from "../../styles/variable.module.css";

.default {
	padding: defaultPadding;
	padding-top: 8rem;
	min-height: min-height;
}

.games {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 30.33%));
	gap: 1rem;
}
