@value grey, white, txtXL, txtMedium, defaultPadding, headerHeight from "../../styles/variable.module.css";

.default {
  background-color: grey;
  padding: defaultPadding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: headerHeight;

  h1 {
    font-size: txtXL;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: txtMedium;
  }
}

.cartLink> :first-child {
  margin-right: 5px;
}
